body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    font-family: 'Edu SA Beginner';
    font-size: 36px;
}

h1{
    font-size: 50px;
    margin: 25px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: rgb(211, 206, 206);
    filter: drop-shadow(3px 0 1px ghostwhite);
}

.container{
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 20px 0px 20px 30px;
    box-shadow: 0 0 5px rgb(184, 181, 181);
}

.gallery li{
    float: left;
    position: relative;
}
.gallery a img, span{
    width: 200px;
    height: 130px;
    margin: 10px;
}
.gallery span{
    display: block;
    text-align: center;
    line-height: 130px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .3s;
}
.gallery a:hover span{
    opacity: 1;
}

.gallery a{
    color: aliceblue;
    text-decoration: none;
}

/* Clear */
.clear{
    clear: both;
}

/* overlay */
.overlay{
    text-align: center;
    width: 0;
    height: 0;
    padding: 100px 0;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .3s;
}

.overlay img{
    max-height: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
}

.overlay:target{
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay:target img{
    animation: img .5s;
}

.overlay:target .close{
    animation: close .8s;
}

.overlay .close{
    position: absolute;
    top: 30px;
    right: 22%;
    font-size: 56px;
}

.back img, .next img{
    box-shadow: 0 0 0;
}

.back{
    position: absolute;
    left: 10%;
    top: 40%;
}

.next{
    transform: rotate(180deg);
    position: absolute;
    right: 10%;
    top: 40%;
}

/* Animasi */

@keyframes img{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

@keyframes close{
    0%{
        opacity: 0;
        margin-top: -60px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}