/* CSS */

/* Background */

body {
    background-image: url(img/bg2.jpg);
    font-family: tektur;
}

/* Text & Font Styling */

h1, h2 {text-transform: capitalize;
    font-variant: small-caps;
    text-decoration: underline;
    color: blueviolet;
}

p {text-transform: capitalize;
}

/* cara mengatur display */

/* contoh display inline */
h1{
    background-color: pink;
    display: inline;
}
/* contoh display block */
h2{
    background-color: lightgreen;
}
/* contoh inline-block */
p:first-of-type{
    background-color: coral;
    display: inline-block;
    height: 150px;
}


/* Type Selector(Cara memilih urutan elemen yang ingin diubah) */

/* First Of Type(Elemen Pertama Pada Tipenya) */

p:first-of-type{
    color: wheat;
}

/* Last Of Type(Elemen Terakhir Pada Tipenya) */

p:last-of-type{
    color: rgb(0, 13, 128);
}


/* Child Selector(Cara memilih anak atau elemen yang berada didalam sebuah tag) */

/* Cara memilih elemen yang berada didalam suatu tag */
ul li a{
    color: red;
}

/* First Child(Child pertama) */

ul li:first-child a {
    color: red;
    text-decoration: line-through;
}

/* Child nth(Child Spesifik) */

ul li:nth-child(2) a {
    color: orange;
    text-decoration: none;
}

ul li:nth-child(3) a {
    color: yellow;
    text-decoration: overline;
}

ul li:nth-child(4) a {
    color: green;
}

/* Last Child(Child terakhir) */

ul li:last-child a {
    color: blue;
}

/* Memodifikasi Link */
/* Ketika kursor di atas link */

#link:hover a{
    color: gold;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* Ketika link ditekan/ditahan */

#link:active a{
    color: silver;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    font-style: italic;
    text-transform: uppercase;
}

/* Ketika link telah dikunjungi */

#link:visited a{
    color: black;
    text-decoration: line-through;
}

/* Cara membuat elemen dari suatu parent(tag pembungkusnya) */
/* tetap di dalam parentnya disebut dengan Overflow */
/* Contoh overflow */

/* tanpa overflow */
.div1 p{
    background-color: pink;
    width: 200px;
    height: 200px;
}

/* dengan overflow */
.div2 p{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    overflow: auto;
}

/* Box Model */
/* Margin=area diluar border */
/* Padding=area content */
/* Border=area perbatasan antara Padding dan Margin */
/* Box Sizing=digunakan untuk membuat box model- */
/* -tidak mengubah ukuran dari ukuran semula */
h4{
    background-color: aquamarine;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    border: 10px solid gold;
}

/* cara membuat elemen berada di tengah parent */
/* menggunakan line-height & text align center */
/* line-height harus sama dengan height parent */
.center{
    background-color: yellowgreen;
    margin: auto;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}




