/* Float */

/* untuk membuat kolom */
.container1{
    width: 800px;
    border: 1px solid black;
}

.kiri{
    background-color: salmon;
    width: 150px;
    float: left;
}

.tengah{
    background-color: lightgreen;
    width: 500px;
    float: left;
}

.kanan{
    background-color: skyblue;
    width: 150px;
    float: left;
}

/* Clear */
.clear{
    clear: left;
}